table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #04AA6D;
  color: white;
}


.g1 {
  background-color: rgb(165, 206, 227);
  color: black;
  font-weight: 700;

}

.g2 {
  background-color: rgb(120, 204, 204);
  color: black;
  font-weight: 700;

}


.g3 {
  background-color: rgb(90, 171, 90);
  color: black;
  font-weight: 700;
}


.g4 {
  color: darkgray;
  font-weight: 700;

}

.g5 {
  color: red;
  font-weight: 700;

}

.table-campeonato{
width: 50%;

} 


img{
  height: 19px;

}

.flex{
  display: flex; 
  gap: 20px;


}