body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(2, 48, 2);
    font-family: sans-serif;
}

header {
    background-color: rgb(1, 37, 1);
    color: #ccc;
    padding: 20px;
}

.div-header {
    gap: 10px;
}

.div-header img {
    width: 100px;
    border-radius: 50%;
}


main {
    background-color: #ccc;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.playlist {
    padding: 10px;
    display: flex;
    gap: 10px;
    border-style: groove;
    margin-bottom: 5px;
    justify-content: start;
    width: 450px;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
}

.playlist img {
    width: 60px;
}

a button {
    background-color: #135234;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 50px;
    border-radius: 50%;
}

footer {
    color: white;
}

.div-footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}