* {
    margin: 0;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    height: 160px;
    background-color: #ffde59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.titulo {

    font-size: 40px;

}

.botao {
    text-decoration: none;
    font-size: 27px;
    cursor: pointer;
    height: 36px;
    width: 140px;
    background-color: #eac42c;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #e0a615;
}

.borda {

    background-image: url("borda.png");
    height: 20px;
    background-color: rgb(17, 17, 15);
    background-size: contain;
}

main {
    height: 2000px;
    width: 100%;
    background-color: rgb(17, 17, 15);
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;

}


.botaofooter {

    display: flex;
    gap: 15px;

}

.botao2 {

    color: black;
}


.botao2:hover {

    color: rgb(72, 73, 67);

}


footer {
    height: 160px;
    width: 100%;
    background-color: #ffde59;
    display: flex;
    justify-content: center;
    text-align: center;
}

.carta1 {

    height: 300px;

}

.cartas {

    display: flex;
    flex-wrap: wrap;
}

.textocarta {

    font-size: 30px;
}

.dados {

    font-size: 25px;
}
.cartaint{

    background-color: aliceblue;
}