@import "bootstrap-icons/font/bootstrap-icons.css";

main {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-content {
  width: 80%;
  height: 300px;
}

#div-bar {
  background-color: #ededed;
  background: linear-gradient(to right, red 50%, blue 50%);
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-send {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-right: 2em;
    background-color: rgb(6, 161, 6);
    width: 10em;
    height: 3em;
    border-radius: 1em;
    border: 2px solid white;
  }

  button:hover {
    cursor: pointer;
  }
}


.div-question {
  padding: 10px;
}