@import "bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 29, 29);
}

#div-content {
  width: 80%;
  height: 300px;
  background-color: rgb(67, 67, 67);
  display: grid;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

#div-bar {
  background-color: #ededed;
  /* background: linear-gradient(to right, red 80%, blue 50%); */
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-send {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    margin-right: 2em;
    background-color: rgb(6, 161, 6);
    width: 10em;
    height: 3em;
    border-radius: 1em;
    border: 1.3px solid white;
  }

  button:hover {
    cursor: pointer;
  }

  button:disabled {
    background-color: rgba(6, 161, 6, 0.254);
    cursor: default;
  }
}

.div-question {
  /*  */
}