header {
    height: 30vh;
    padding: 20px;
}

header img {
    max-height: 10vh;
}

main {
    background-color: #ccc;
}

li {
    height: 100px;
    line-height: 80px;
}

.conteudo {
    background-color: white;
}

.img-section {
    height: 60vh;
}

footer {
    height: 30vh;
    position: static;
}


