.accordion-button {
    background-color: #2c2c2c;
    color: #fff;
    border: 1px solid #444;
}

.accordion-button:not(.collapsed) {
    background-color: #333 !important;
    color: #fff !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body {
    background-color: #ced4da;
    color: #ddd;
}

.accordion-button::after {
    background-image: url();
}