body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: white;
    color: black; 
    border: 1px solid #ccc; 
    border-radius: 5px;
} 

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4c57af;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #454ea0;
}

#head {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}